// ==========================================================================
// Thin underline
// ==========================================================================

@mixin thin-underline( $color, $background-position ) {
		background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, $color 50%);
		background-repeat: repeat-x;
		background-size: 2px 2px;
		background-position: 0 $background-position; // ~18/15

		@media not all, only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
			background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, $color 75%);
			background-repeat: repeat-x;
		}
}